name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Clippy (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        uses: ./.github/actions/linux-deps

      - name: Add Clippy
        run: rustup component add clippy

      - run: cargo clippy -- -D warnings

  fmt:
    name: Format check
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: rustup component add rustfmt
      - run: cargo fmt -- --check

  test:
    name: Test (${{ matrix.os }})
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        uses: ./.github/actions/linux-deps

      - name: Run tests
        run: cargo test --verbose
